@using BTProje.Models.EntityFramework
@{
    Layout = null;
    KullaniciTablosu kullanici = (KullaniciTablosu)Session["kullanici"];
    ViewBag.Title = "_AdminLayout2";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>TYH</title>
    <link href="~/Web/dist/css/styles.css" rel="stylesheet" />
    @*@Styles.Render("~/Content")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/modernizr")

    @*<link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/HomePage/Index"> TYH TEKSTİL </a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button><!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                @*<input class="form-control" type="text" placeholder="Arama Yap..." aria-label="Search" aria-describedby="basic-addon2" />*@
                <div class="input-group-append">
                    @*<button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>*@
                </div>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    @if (kullanici.RolTipi == 7)
                    {
                        if (kullanici.YetkiTipi == 1)
                        {

                            <a class="dropdown-item" href="/Admin/Index">Admin</a>

                        }

                    }
                    <a class="dropdown-item" href="/Account/Index">Hesabım</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/LoginPanel/Logout">Çıkış Yap</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">

                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">
                            <img src="~/Web/TYH greybackground.png" style="width:180px; height:90px;" />
                        </div>
                        <div class="sb-sidenav-menu-heading">Kategoriler</div>
                        @if ((kullanici.RolTipi == 1) || (kullanici.RolTipi == 4) || (kullanici.RolTipi == 5) || (kullanici.RolTipi == 7))
                        {
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#talep" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                                Araç Rezervasyon
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="talep" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/Sirket/TalepIndex">Araç Listesi</a>
                                    <a class="nav-link" href="/Sirket/OnayIndex">Onay Sayfası</a>
                                </nav>
                            </div>
                        }
                        @if ((kullanici.RolTipi == 2) || (kullanici.RolTipi == 4) || (kullanici.RolTipi == 6) || (kullanici.RolTipi == 7))
                        {
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#denem" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-spinner"></i></div>
                                İç Kargo Takip
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>

                            <div class="collapse" id="denem" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/KargoGonder/Index">Kargo Gönder</a>
                                    @*<a class="nav-link" href="/KargoTakip/Index">Kargo Takip</a>*@
                                    <a class="nav-link" href="/Kargolar/Index">Kargolar</a>
                                    <a class="nav-link" href="/KargoTransfer/TransferEkle">Transfer Ekle</a>

                                </nav>
                            </div>
                        }
                        @if ((kullanici.RolTipi == 3) || (kullanici.RolTipi == 5) || (kullanici.RolTipi == 6) || (kullanici.RolTipi == 7))
                        {
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#guvenlik" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                Güvenlik Kayıt Defteri
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                        }
                        <div class="collapse" id="guvenlik" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/Ziyaretci/ZiyaretciIndex">Ziyaretçi Kaydı</a>
                                <a class="nav-link" href="/Sirket/SirketIndex">Şirket Araçları Kaydı</a>
                                <a class="nav-link" href="/IthalatIhracat/Index">İthalat/İhracat Araçları Kaydı</a>
                                @*<a class="nav-link" href="/OutMissionForm/GetForm">Dışarıda Geçirilen Süre Bildirim Formu</a>
                                <a class="nav-link" href="/OutMissionForm/Index">DGSB Formu Oluşturma</a>*@
                            </nav>
                        </div>
                        @*<div class="collapse" id="collapsePages1" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="#">1</a><a class="nav-link" href="#">2</a>
                                    <a class="nav-link" href="#">3</a><a class="nav-link" href="#">4</a>
                                    <a class="nav-link" href="#">5</a><a class="nav-link" href="/Bolge/Index">6</a>


                                </nav>
                            </div>*@
                        @*<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-cog"></i></div>
                                Açılır Menu-2
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>*@


                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="#">1</a>
                                <a class="nav-link" href="#">2</a>
                            </nav>
                        </div>
                    </div>
                </div>


                <div class="sb-sidenav-footer">
                    <div class="small">
                        Giriş Yapıldı: <br />
                        @kullanici.BölgelerTablosu.Bölge /
                        @kullanici.Ad @kullanici.Soyad

                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    @RenderBody()
                    @Scripts.Render("~/bundles/jquery")
                    @*<script src="~/Scripts/chosen.jquery.min.js"></script>*@
                    @RenderSection("scripts", required: false)

                    @RenderSection("ControlsSection", required: false)
                </div>
            </main>
            <br />

            @*<footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; TYH TEKSTİL</div>
                            <div>
                                <div class="text-muted">Designed by BT</div>
                            </div>
                        </div>
                    </div>
                </footer>*@
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Web/dist/js/scripts.js"></script>
</body>
</html>



