
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Layout = null;
}

@*<h2>Index</h2>*@

<head>
    <title>Giriş Yap - TYH</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/login/css/style.css" rel="stylesheet" />
    @*<link href="~/content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/content/bootstrap.css" rel="stylesheet" />*@
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
</head>

<body class="img js-fullheight" style="background-image: url('../../Content/login/images/LoginPanel.png');">
    <section class="ftco-section">
        <div style="text-align:center">
            <img src="~/Web/TYH greybackground.png" style="width:180px; height:90px;" />
        </div><br />
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Giriş Yap</h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Hesabın zaten var mı?</h3>

                        <form method="post" class="signin-form">
                            <div class="form-group">
                                @Html.DropDownList("bolgee", (List<SelectListItem>)ViewBag.bolge, "Bölge Seçin", new { @class = "form-control", @style = "background-color:#008080", required = "Bölge Boş Geçilemez" })
                            </div>
                            <div class="form-group">
                                @*<input type="text" class="form-control" name="KullaniciAdi" placeholder="Kullanıcı Adı" required>*@
                                @Html.TextBox("SicilNo", "", new { @class = "form-control", @placeholder = "Sicil Numarası" })
                            </div>
                            <div class="form-group">
                                <input id="password-field" type="password" name="sifre" class="form-control" placeholder="Şifre" required>
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            @*<h6><b><p style="color: #ee7600; margin-left: 20px;"> @ViewBag.msg</p></b>  </h6>*@
                            <div class="form-group">
                                <button type="submit" class="form-control" style="background-color: #ee7600">Giriş Yap</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-align-center">
                                    <a href="~/LoginPanel/ForgetPassword/" style="color: #fff">Şifremi Unuttum</a>
                                    @*<p>
                                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                        </p>*@
                                </div>
                            </div>
                        </form>

                        <p class="w-100 text-center">&mdash; Veya Kayıt Ol &mdash;</p>
                        <div class="social d-flex text-center">
                            <a href="~/LoginPanel/Register" class="px-2 py-2 mr-md-2 rounded"><span class="ion-logo-facebook mr-2"></span> Kayıt Ol</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/login/js/jquery.min.js"></script>
    <script src="~/Content/login/js/main.js"></script>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@if (@ViewBag.msg != null)
{
    <script>
        swal("UYARI !", "@ViewBag.msg", "warning");
    </script>
}