@using BTProje.Models.EntityFramework

@model BTProje.Models.EntityFramework.FollowPackages

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    KullaniciTablosu kullanici = (KullaniciTablosu)Session["kullanici"];
    List<RolYetkiAtama> yetki = (List<RolYetkiAtama>)Session["yetki"];
}


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";


}
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
@*<script>
        $(function () {
            $('#VarisDepartman').change(function () {
                var id = $('#VarisDepartman').val();
                $.ajax({
                    url: '/KargoGonder/Cascad',
                    data: { p: id },
                    type: "POST",
                    dataType: "Json",
                    success: function (data) {
                        console.log(data);
                        $('#AliciAdSoyad').empty();
                        /*$('#ytkl').empty();*/
                        $('#AliciPersonelId').empty();
                        for (var i = 0; i < data.length; i++) {
                            //$('#AliciAdSoyad').val(data[i].Text);
                            $('#AliciPersonelId').append("<option value='" + data[i].Value + "'>" + data[i].Text + "</Option>");
                        }
                    }
                });
            });
        });
    </script>*@

@foreach (var item in yetki)
{
    if (item.Rol_Id == 2)
    {

        <form method="post" class="form-group">
            <fieldset>

                <div id="outPack" class="outPack">
                    <br /><br />
                          <center> <h3 style="margin-left: 35px; margin-bottom: 20px">Kişisel Kargo Kayıt Formu</h3> </center>
                    @Html.ValidationMessageFor(model => model.CompanyInformation, "", new { @class = "text-danger" })
                    @Html.TextBox("CompanyInformation", "", new { @class = "form-control", placeholder = "Kargo Firma Bilgileri", required = "Boş Bırakılamaz" })<br />

                    @Html.ValidationMessageFor(model => model.ShippingCompany, "", new { @class = "text-danger" })
                    @Html.TextBox("ShippingCompany", "", new { @class = "form-control", placeholder = "Gönderen Firma Bilgileri/ Şahıs Bilgileri", required = "Boş Bırakılamaz" })<br />


                    @Html.ValidationMessageFor(model => model.BuyerCompany, "", new { @class = "text-danger" })
                    @Html.TextBox("BuyerCompany", "", new { @class = "form-control", placeholder = "Alıcı Firma Bilgileri/ Şahıs Bilgileri", required = "Boş Bırakılamaz" })<br />

                    @Html.ValidationMessageFor(model => model.PickUperPersonNameSurname, "", new { @class = "text-danger" })
                    @Html.TextBox("PickUperPersonNameSurname", "", new { @class = "form-control", placeholder = "Teslim Alan Personel Ad Soyad", required = "Boş Bırakılamaz" })<br />

                </div>
                <div style="margin-top:10px">
                    <button class="btn btn-info" id="added">OLUŞTUR</button>
                </div>
            </fieldset>
        </form>

        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        if (TempData["Message"] != null)
        {
            <script>
                swal("UYARI !", "@TempData["Message"]", "warning");
            </script>
        }
        if (TempData["MessageSuccess"] != null)
        {
            <script>
                swal("BAŞARILI !", "@TempData["MessageSuccess"]", "success");
            </script>
        }

        break;
    }
}