@*@model List<KullaniciTablosu>*@

@using BTProje.Models.EntityFramework
@model List<BTProje.Models.EntityFramework.KullaniciTablosu>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    TYHTALEPEntities db = new TYHTALEPEntities();
    KullaniciTablosu kullanici = (KullaniciTablosu)Session["kullanici"];
    var testr = db.RolYetkiAtama.Where(m => m.Kullanici_Id == kullanici.Kullanici_id).ToList();
}
<link href="~/template/assets/vendors/mdi/css/materialdesignicons.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script>
    $(function () {
        $('#kullanici').change(function () {
            var id = $('#kullanici').val();
            $.ajax({
                url: '/Admin/Yetkiler',
                data: { p: id },
                type: "POST",
                dataType: "Json",
                success: function (data) {
                    console.log(data);
                    $('#atama').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#atama').append("<option value='" + data[i].Value + "'>" + data[i].Text + "</Option>");
                    }
                }
            });
        });
    });
</script>
<script>
    $(function () {
        $('#ara').on("keyup", function () {
            var id = $('#ara').val();
            $.ajax({
                url: '/Admin/Arama',
                data: { p: id },
                type: "POST",
                dataType: "Json",
                success: function (data) {
                    console.log(data);
                    $('#kullanici').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#kullanici').append("<option value='" + data[i].Value + "'>" + data[i].Text + "</Option>");
                    }
                }
            });
        });
    });
</script>
<script>
    $(function () {
        $('#sil').click(function () {
            var id = $('#atama').val();
            $.ajax({
                url: '/Admin/Sil',
                data: { p: id },
                type: "POST",
                dataType: "Json",
                success: function (data) {
                    console.log(data);
                }
            });
            $('#atama option:selected').remove();
        });
    });
</script>
@foreach (var item in testr)
{
    if (item.Yetki_Id == 1)
    {
        <h3 style="text-align:center">Hoşgeldin @kullanici.Ad @kullanici.Soyad</h3>
        <br />
        using (Html.BeginForm("Index", "Admin", FormMethod.Post))
        {
            <div class="form-group">
                <div class="row">
                    <div class="col-5">
                        <div class="row">
                            @Html.TextBox("ara", "", new { @class = "form-control", @style = "border-color:gray ;width:50% ; height: 32px; margin-bottom:3px; margin-top:5px ", @placeholder = "Kullanıcılarda Arayın" })
                            @Html.DropDownList("kullanici", (List<SelectListItem>)ViewBag.user, new { @class = "form-control", @required = "", @size = "15" })
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <label><b>ROLLER</b></label>
                            @Html.DropDownList("rol", (List<SelectListItem>)ViewBag.rol, "Rol Seçin", new { @class = "form-control", required = "" })
                        </div>
                        <br />
                        <div class="row">
                            <label><b>YETKİLER</b></label>
                            @Html.DropDownList("yetki", (List<SelectListItem>)ViewBag.yetki, "Yetki Seçin", new { @class = "form-control", required = "" })
                        </div>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <label><b>ROL VE YETKİLER</b></label>
                            @Html.DropDownList("atama", new List<SelectListItem>(), new { @class = "form-control", @size = "15", @style = "margin-top:7px " })
                        </div>
                        <br />
                        <a href="#" id="sil" class="btn btn-danger">Seçileni Sil</a>
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-success">Kaydet</button>
            </div>
        }

        break;    //şart sağlanıyorsa döngüyü kırar.
    }
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@if (ViewBag.message != null)
{
    <script>
        swal("UYARI !", "@ViewBag.message", "warning");
    </script>
}
