
@using BTProje.Models.EntityFramework;

@model BTProje.Models.EntityFramework.DgsForm
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string endDate = Model.EndDate.ToString();
    string startDate = Model.StartDate.ToString();
    KullaniciTablosu kullanici = (KullaniciTablosu)Session["kullanici"];
    List<RolYetkiAtama> yetki = (List<RolYetkiAtama>)Session["yetki"];
    var success = false;
}

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script>
    $(function () {
        $('#UserId').change(function () {
            var id = $('#UserId').val();
            $.ajax({
                url: '/OutMissionForm/Cascad',
                data: { p: id },
                type: "POST",
                dataType: "Json",
                success: function (data) {
                    console.log(data);
                    $('#Unit').empty();
                    $('#Unit').val(data);
                }
            });
        });
    });
</script>

<script>
    $(function () {
        $('#MissionId').change(function () {
            var id = $('#MissionId').val();
            $.ajax({
                url: '/OutMissionForm/Mission2',
                data: { p: id },
                type: "POST",
                dataType: "Json",
                success: function (data) {
                    console.log(data);
                }
            });
        });
    });
</script>
@foreach (var item in yetki)
{
    //if (item.Rol_Id == 9 || (item.Rol_Id == 3 && kullanici.BölgeID == 1) || (item.Rol_Id == 3 && kullanici.BölgeID == 15))
    if (item.Rol_Id == 9 || item.Rol_Id == 3 && kullanici.BölgeID == 15)

    {
        success = true;
    }
}
@if (success)
{
   using (Html.BeginForm("Update", "OutMissionForm", FormMethod.Post))
    {
        <fieldset>
            <div id="gonderen" class="gonderen" style="margin-top:15px;">
                <h4 style="text-align:center; margin-top:50px;"> AR-GE MERKEZİ GÖREVLİ PERSONEL FORMU </h4>
                @*<h5 style="margin-left: 35px; margin-bottom: 20px">Gönderen</h5>*@

                <h6><label>GÖREVLİ PERSONEL</label></h6>
                @Html.DropDownListFor(m => m.UserId, (List<SelectListItem>)ViewBag.User, "GÖREVLİ PERSONELİ SEÇİNİZ", new { @class = "form-control", required = "Boş Bırakılamaz" })<br />
                @foreach (var item in yetki)
                {
                    if (item.Rol_Id == 9)
                    {
                        //      @Html.DropDownListFor(m => m.UnitOfDepartment, (List<SelectListItem>)ViewBag.Unit, "AR-GE MERKEZİNDE ÇALIŞTIĞI BİRİMİ SEÇİNİZ", new { @class = "form-control", required = "Boş Bırakılamaz" })<br />
                        <h6><label>AR-GE MERKEZİNDE ÇALIŞTIĞI BİRİM</label></h6>
                        @Html.TextBox("Unit", Model.Unit, new { @class = "form-control", placeholder = "AR-GE MERKEZİNDE ÇALIŞTIĞI BİRİMİ" })<br />

                        <h6><label>İLİŞKİLİ PROJE KODU / ADI</label></h6>
                        @Html.TextBox("CodeOfProject", Model.CodeOfProject, new { @class = "form-control", placeholder = "İLİŞKİLİ PROJE KODU / ADI" })<br />
                        break;
                    }
                    @*else
                        {
                            @Html.HiddenFor(m => m.UnitOfDepartment)
                        }*@
                }

                @Html.Hidden("CodeOfProject")
                @Html.Hidden("Unit")
                <h6> <label>DIŞARIDA GEÇİRİLEN SÜRE BAŞLANGIÇ TARİHİ</label></h6>
                @if (startDate == null || startDate == "")
                {
                    <input type="datetime-local" class="form-control" name="StartDate" value="" /><br />
                }
                else
                {
                    <input type="datetime" class="form-control" name="StartDate" value="@Model.StartDate" /><br />
                }
                <h6><label>DIŞARIDA GEÇİRİLEN SÜRE BİTİŞ TARİHİ</label></h6>
                @if (endDate == null || endDate == "")
                {
                    <input type="datetime-local" class="form-control" name="EndDate" value="" /><br />
                }
                else
                {
                    <input type="datetime" class="form-control" name="EndDate" value="@Model.EndDate" /><br />

                }
                @foreach (var item in yetki)
                {
                    if (item.Rol_Id == 9)
                    {
                        <h6><label>GÖREVLİ OLMA NEDENİ</label></h6>
                        @Html.DropDownListFor(m => m.MissionId, (List<SelectListItem>)ViewBag.Mission, "GÖREVLİ OLMA NEDENİ", new { @class = "form-control", required = "Boş Bırakılamaz" })<br />

                        @*@Html.HiddenFor(m => m.MissionId)*@
                        break;
                    }
                }
                @Html.HiddenFor(m => m.MissionId)
                <h6><label>GÖREV YERİ</label></h6>
                @Html.TextBox("Description", (string)ViewBag.Description, new { @class = "form-control", required = "Boş Bırakılamaz", placeholder = "GÖREV YERİ" })<br />


                <div style="margin-top:10px">
                    <button class="btn btn-info" id="added">GÜNCELLE</button>
                </div>
            </div>

            @Html.HiddenFor(m => m.Id)
        </fieldset>


    }
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script>
        $('#tbl1').dataTable({
            language: {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            }
        });
    </script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

   if (TempData["MessageError"] != null)
    {
        <script>
        swal("UYARI !", "@TempData["MessageError"]", "warning");
        </script>
    }
   if (TempData["MessageSuccess"] != null)
    {
        <script>
        swal("BAŞARILI !", "@TempData["MessageSuccess"]", "success");
        </script>
    }
}
else
{
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>404 Page Not Found</title>
        <style>
            /* Styles for the error message */
            .cloak__wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            .cloak__container {
                width: 50%;
                text-align: center;
            }

            .cloak {
                font-size: 6rem;
                font-weight: bold;
                margin: 0;
            }

            .info {
                margin-top: 2rem;
            }

            h2 {
                font-size: 2.5rem;
                margin: 0;
            }

            p {
                font-size: 1.5rem;
                margin: 1rem 0;
            }
        </style>
    </head>
    <body>
        <div class="cloak__wrapper">
            <div class="cloak__container">
                <h1 class="cloak">404</h1>
                <div class="info">
                    <h2>Aradığın Sayfayı Bulamadık</h2>
                    <p><a href="/HomePage/Index" target="_self" rel="noreferrer noopener">Anasayfa</a>' a dönmek için tıklayınız...</p>
                </div>
            </div>
        </div>
    </body>
</html>
}


